#bio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}


#bioText {
    padding-left: 10px;
}

body {
    background-color: #28282e;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#classLists {
    display: flex;
    justify-content: center;
    
}

#classLists ul {
    text-align: left;
}

footer {
    background-color: #1B222C;
    padding-bottom: 100px;
    margin-top: auto;
    text-align: left;
    text-justify: auto;
}

footer ul{
    list-style: none;
}

header {
    text-align: center;
    background-color: #161b22;
}

#macroPi{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#macroPiDescription{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 650px;
}

#macroPiPic {
    height: 400px;
    width: auto;
}

nav {
    background-color: #1f2836;
}

nav li {
    display: inline;
}

nav a{
    text-decoration: none;
    color: white;
}

#profilePic {
    height: 400px;
    width: auto;
    display: inline-block;
}

#resume {
    height: 1000px;
    width: auto;
}

.Section{
    background-color: rgb(72, 72, 77);
}