#bio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}


#bioText {
    padding-left: 10px;
}

body {
    background-color: #28282e;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#classLists {
    display: flex;
    justify-content: center;
    
}

#classLists ul {
    text-align: left;
}

.Description {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 650px;
}

.Divider{
    background-color: rgb(72, 72, 77);
}

footer {
    background-color: #1B222C;
    padding-bottom: 100px;
    margin-top: auto;
    text-align: left;
    text-justify: auto;
}

footer ul{
    list-style: none;
}

header {
    text-align: center;
    background-color: #161b22;
}


/*used for project div linking*/
.link-spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }


#macroPi {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#macroPiPic {
    height: 400px;
    width: auto;
}

#MacroPiProjectThumbnail {
    height: 200px;
    width: 400px;
}

nav {
    background-color: #1f2836;
}

nav li {
    display: inline;
}

nav a{
    text-decoration: none;
    color: white;
}

#profilePic {
    height: 400px;
    width: auto;
    display: inline-block;
}

/* Styling project links */
.project {
    width:400px;
    height:200px;
    background-color:black;
    color:white;
    position:relative;
}

#ProjectsList div{
    float: left;
}

#ProjectsList ul li {
    list-style: none;
}

#resume {
    height: 1000px;
    width: auto;
}

#RootedPhonePic {
    height: 400px;
    width: auto;
}

#RootedPhoneProjectThumbnail {
    height: 200px;
    width: 400px;
}